<!DOCTYPE html>
<html>
  <head>
    <title>Películas con <%= actorName %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div id="inicio"><a href="/">Inicio</a></div>
    </header>
    <h1>Películas con <%= actorName %></h1>
    <ul>
      <% movies.sort((a, b) => new Date(b.release_date) - new
      Date(a.release_date)).forEach((movie) => { %>
      <li>
        <a href="/pelicula/<%= movie.movie_id %>"
          ><%= movie.title %> (<%= new Date(movie.release_date).getFullYear()
          %>)</a
        >
      </li>
      <% }); %>
    </ul>
    <div class="contact-container">
      <h2>Contactar profesor</h2>
      <form action="/buscar" method="GET">
        <div class="input-group">
          <label for="alumno">Nombre del alumno</label>
          <input
            type="text"
            id="alumno"
            name="alumno"
            placeholder="Ingresa tu nombre completo"
            required
          />
        </div>

        <div class="input-group">
          <label for="subject">Consulta</label>
          <textarea
            id="subject"
            name="subject"
            maxlength="16"
            placeholder="Escribe tu consulta aquí..."
            required
          ></textarea>
          <span id="char-count" class="char-count"
            >Caracteres restantes: <span id="char-count-value">16</span></span
          >
        </div>

        <button type="submit">Enviar consulta</button>
      </form>
    </div>
    <script>
      document.getElementById("subject").addEventListener("input", function () {
        const maxLength = this.getAttribute("maxlength");
        const currentLength = this.value.length;
        document.getElementById("char-count-value").textContent =
          maxLength - currentLength;
      });
    </script>
  </body>
</html>
