<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Resultado de la Búsqueda</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div id="inicio"><a href="/">Inicio</a></div>
    </header>
    <h1>Resultados de "<%= searchTerm %>"</h1>

    <% if (movies.length === 0 && actors.length === 0) { %>
    <p>No hay resultados.</p>
    <% } else { %>

    <h2>Actores</h2>
    <% if (actors.length > 0) { %>
    <ul>
      <% actors.forEach((actor) => { %>
      <li>
        <a href="/actor/<%= actor.person_id %>"><%= actor.person_name %></a>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No hay resultados.</p>
    <% } %>
    <h2>Películas</h2>
    <% if (movies.length > 0) { %>
    <ul>
      <% movies.forEach((movie) => { %>
      <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No hay resultados.</p>
    <% } %> <% } %>
  </body>
</html>
